.idea/.gitignore
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/threaddit.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/launch.json
.env
.venv
__pycache__
.vscode
frontend/package-lock.json
**/dist*
**/myenv*