bcrypt==4.1.2
blinker==1.7.0
certifi==2024.2.2
click==8.1.7
cloudinary==1.39.0
colorama==0.4.6
Flask==3.0.2
Flask-Login==0.6.3
flask-marshmallow==1.2.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==21.2.0
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
packaging==24.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
six==1.16.0
SQLAlchemy==2.0.28
typing_extensions==4.10.0
urllib3==2.2.1
Werkzeug==3.0.1
